
body {
  margin: 5pt;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.wrapper {
  width: calc(100% - 5pt);
  display: grid;
  gap: 5pt;
  grid-template-columns: 60% 40%;
}

.canvas-wrapper {
  grid-column: 1;
  grid-row: 1 / 3;
}

.console-wrapper {
  grid-column: 1;
  grid-row: 3;
}

.controlls {
  grid-column: 2;
  grid-row: 1;
}

.code-wrapper {
  grid-column: 2;
  grid-row: 2 / 4;
}

#canvas {
  border: 1px solid #888;
  width: 100%;
}

